.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  width: 100%;
}

.linkContent {
  text-align: center;
  text-decoration: none;
  color: inherit;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.linkContent:hover {
  background-color: #f0f0f0;
  font-weight: bold;
}
